# Object files
*.o
*.ho
*.ko
*.ao
*.bo
*.obj
*.elf
3rdparty/
armv7_linkage_errors
# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin


# Images
*.iso
*.img
*.sd
*.ext2
*_armv7_uboot
loader_armv7*
vmpos
testfs
empty
payload_armv7
*.tar
*~
gcc_posnk/
initrd_gcc/
initrd/
initrd_*/
build-*/
cross-*/

doc/

syscall_list.txt

*.swp
*.swo
_dmake
_dinit.c
